{
  "openapi": "3.0.3",
  "info": {
    "title": "Codessa API",
    "version": "1.0.0",
    "description": "AI-powered GitHub pull request review system. Authentication uses an httpOnly `session` cookie set after completing the GitHub OAuth login flow — browser requests automatically include it; non-browser clients must forward the `Set-Cookie` value.\n\nAI code review is scoped to PHP, JavaScript/TypeScript, Go, and Python files (other files in a PR are skipped from AI review but still counted in additions/deletions). Security findings come from two independent layers: (1) SCA — manifest files (package.json/requirements.txt/composer.json/go.mod) are checked against OSV.dev's vulnerability database for real CVEs in dependencies, deterministic, no AI involved; (2) CWE/CVSS — the AI flags vulnerabilities it finds in the code itself and proposes a CVSS vector, but this system computes the numeric score from that vector server-side using the official FIRST formula, never trusting a score from the AI. Both layers report through the same `ReviewComment` shape (see `source`, `cwe`, `cvss`, `vulnerabilityId`) and both can independently fail a PR's commit status check if a finding's CVSS score is 7.0 or higher."
  },
  "servers": [
    { "url": "https://api.codessa.xyz", "description": "Production" },
    { "url": "http://localhost:3000", "description": "Local" }
  ],
  "tags": [
    { "name": "Auth", "description": "Login with GitHub, session, and user settings" },
    { "name": "GitHub App", "description": "Install the Codessa GitHub App" },
    { "name": "Repositories", "description": "Manage which repos are auto-reviewed" },
    { "name": "Reviews", "description": "Review history" },
    {
      "name": "Test Reviews",
      "description": "Ad-hoc review testing: run the pipeline against any PR URL you can read on GitHub, without enabling the repo or installing the GitHub App on it. Uses your own GitHub OAuth token to read the PR — never posts anything back to GitHub, and is stored in a separate collection from real review history so it can't affect the dashboard."
    },
    { "name": "Webhooks", "description": "GitHub webhook receiver (called by GitHub, not by clients)" }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session",
        "description": "Set automatically after completing GET /auth/github login flow"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string" } },
        "example": { "error": "Unauthorized" }
      },
      "ReviewComment": {
        "type": "object",
        "properties": {
          "filePath": { "type": "string", "example": "src/math.js" },
          "line": { "type": "integer", "nullable": true, "example": 12 },
          "severity": { "type": "string", "enum": ["info", "minor", "major", "critical"] },
          "comment": { "type": "string", "example": "This changes addition to subtraction, likely a bug." },
          "source": {
            "type": "string",
            "nullable": true,
            "enum": ["ai", "sca"],
            "description": "Which layer produced this finding: \"ai\" (DeepSeek code review) or \"sca\" (OSV.dev dependency vulnerability scan)."
          },
          "cwe": {
            "type": "object",
            "nullable": true,
            "description": "Set only for AI-flagged security vulnerabilities.",
            "properties": {
              "id": { "type": "string", "example": "CWE-89" },
              "name": { "type": "string", "example": "SQL Injection" }
            }
          },
          "cvss": {
            "type": "object",
            "nullable": true,
            "description": "CVSS v4.0 or v3.1/3.0 score (whichever version the vector uses), computed server-side from the vector via the official FIRST formula — never trusted from the AI or from OSV directly.",
            "properties": {
              "vector": { "type": "string", "example": "CVSS:4.0/AV:N/AC:L/AT:N/PR:N/UI:N/VC:H/VI:H/VA:H/SC:N/SI:N/SA:N" },
              "score": { "type": "number", "example": 9.3 }
            }
          },
          "vulnerabilityId": {
            "type": "string",
            "nullable": true,
            "description": "OSV/CVE identifier, set only for source: \"sca\" findings.",
            "example": "CVE-2021-23337"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "_id": { "type": "string", "example": "665f1c2e4b1a2c3d4e5f6789" },
          "repositoryId": { "type": "string", "example": "665f1c2e4b1a2c3d4e5f1234" },
          "pullNumber": { "type": "integer", "example": 7 },
          "commitSha": { "type": "string", "example": "2c773ef9a1b2c3d4e5f60718293a4b5c6d7e8f90" },
          "shortSha": { "type": "string", "description": "First 7 chars of commitSha, for display", "example": "2c773ef" },
          "commitMessage": { "type": "string", "nullable": true, "example": "fix: handle null user in review flow" },
          "additions": { "type": "integer", "nullable": true, "description": "Total lines added across the PR diff", "example": 42 },
          "deletions": { "type": "integer", "nullable": true, "description": "Total lines removed across the PR diff", "example": 8 },
          "status": {
            "type": "string",
            "enum": ["pending", "running", "success", "failed", "skipped"],
            "description": "Whether the review PROCESS completed without errors. Not a verdict on the code — see `verdict` for that."
          },
          "verdict": {
            "type": "string",
            "nullable": true,
            "enum": ["passed", "issues_found", "error"],
            "description": "The OUTCOME of the review. `status: \"success\"` + `verdict: \"issues_found\"` means the review ran fine but found problems — check this field, not `status`, to know if the PR is clean. Set to \"issues_found\" when either: (a) AI comment severity crosses `severityThreshold` (critical by default, major+ under \"strict\"), or (b) any finding — from the AI's CWE/CVSS layer or the OSV.dev SCA layer — has a computed CVSS score ≥ 7.0, regardless of severityThreshold. `null` while pending/running/skipped."
          },
          "summary": { "type": "string", "nullable": true },
          "comments": { "type": "array", "items": { "$ref": "#/components/schemas/ReviewComment" } },
          "errorMessage": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "finishedAt": { "type": "string", "format": "date-time", "nullable": true },
          "repositoryFullName": { "type": "string", "description": "Included by GET /reviews and GET /reviews/{id}, not stored on the document itself", "example": "octocat/hello-world" },
          "repositoryName": { "type": "string", "description": "Just the repo name, derived from repositoryFullName", "example": "hello-world" }
        }
      },
      "TestReview": {
        "type": "object",
        "description": "Result of an ad-hoc /test-reviews run. Same review pipeline and ReviewComment shape as a real Review, but tied to a raw PR URL instead of an enabled repository, and never posted to GitHub.",
        "properties": {
          "id": { "type": "string", "example": "665f1c2e4b1a2c3d4e5f9999" },
          "prUrl": { "type": "string", "example": "https://github.com/rocketride-org/rocketride-server/pull/2" },
          "owner": { "type": "string", "example": "rocketride-org" },
          "repo": { "type": "string", "example": "rocketride-server" },
          "pullNumber": { "type": "integer", "example": 2 },
          "commitSha": { "type": "string", "nullable": true },
          "commitMessage": { "type": "string", "nullable": true },
          "additions": { "type": "integer", "nullable": true },
          "deletions": { "type": "integer", "nullable": true },
          "status": { "type": "string", "enum": ["success", "failed"], "description": "Whether the test run itself completed (e.g. could read the PR, DeepSeek/OSV responded) — not a verdict on the code." },
          "verdict": { "type": "string", "nullable": true, "enum": ["passed", "issues_found", "error"] },
          "summary": { "type": "string", "nullable": true },
          "changes": { "type": "array", "items": { "type": "string" } },
          "comments": { "type": "array", "items": { "$ref": "#/components/schemas/ReviewComment" } },
          "errorMessage": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "finishedAt": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "RepositorySummary": {
        "type": "object",
        "properties": {
          "githubRepoId": { "type": "string", "example": "123456789" },
          "fullName": { "type": "string", "example": "octocat/hello-world" },
          "owner": { "type": "string", "example": "octocat" },
          "name": { "type": "string", "example": "hello-world" },
          "private": { "type": "boolean" },
          "defaultBranch": { "type": "string", "example": "main" },
          "installationId": { "type": "integer", "example": 54321 },
          "enabled": { "type": "boolean" },
          "hasCustomConfig": { "type": "boolean", "description": "Whether any dashboard review config has been set for this repo" }
        }
      },
      "RepositoryConfig": {
        "type": "object",
        "properties": {
          "customInstructions": { "type": "string", "nullable": true, "example": "Always suggest a code snippet for fixes." },
          "tone": { "type": "string", "nullable": true, "enum": ["friendly", "strict", "concise"] },
          "severityThreshold": { "type": "string", "nullable": true, "enum": ["balanced", "critical_only", "strict"] },
          "analysisFocus": {
            "type": "object",
            "nullable": true,
            "properties": {
              "security": {
                "type": "boolean",
                "description": "Gates both security layers: the AI's CWE/CVSS-flagged code review comments, AND the OSV.dev dependency (SCA) scan on changed manifest files. Setting this to false disables both."
              },
              "performance": { "type": "boolean" },
              "bugs": { "type": "boolean" },
              "codeStyle": { "type": "boolean" }
            }
          }
        }
      },
      "Me": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "665f1c2e4b1a2c3d4e5f0001" },
          "username": { "type": "string", "example": "octocat" },
          "githubId": { "type": "string", "example": "583231" },
          "avatarUrl": { "type": "string", "example": "https://avatars.githubusercontent.com/u/583231?v=4" },
          "tokenRevoked": { "type": "boolean" },
          "settings": {
            "type": "object",
            "properties": {
              "reviewLanguage": { "type": "string", "enum": ["en", "id", "zh"], "example": "id" },
              "tone": { "type": "string", "enum": ["friendly", "strict", "concise"] },
              "customInstructions": { "type": "string" }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "tags": ["Auth"],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is up",
            "content": { "application/json": { "example": { "name": "Codessa", "status": "ok" } } }
          }
        }
      }
    },
    "/auth/github": {
      "get": {
        "tags": ["Auth"],
        "summary": "Start GitHub OAuth login",
        "description": "Redirects the browser to GitHub's authorize page. On success, GitHub redirects back to /auth/github/callback, which sets the `session` cookie and redirects to `{redirectTo}/dashboard`.",
        "parameters": [
          {
            "name": "redirectTo",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Origin to redirect back to after login instead of the default FRONTEND_URL — e.g. a separate testing tool's URL. Must exactly match an entry in FRONTEND_URL or ADDITIONAL_ALLOWED_ORIGINS (same allowlist CORS uses), otherwise it's ignored and the default is used.",
            "example": "http://localhost:5173"
          }
        ],
        "responses": {
          "302": { "description": "Redirect to https://github.com/login/oauth/authorize" }
        }
      }
    },
    "/auth/github/callback": {
      "get": {
        "tags": ["Auth"],
        "summary": "OAuth callback (called by GitHub, not directly by clients)",
        "parameters": [
          { "name": "code", "in": "query", "schema": { "type": "string" } },
          { "name": "state", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "302": { "description": "Sets session cookie and redirects to /auth/me" },
          "400": {
            "description": "Invalid OAuth state or failed token exchange",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Get current logged-in user",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Me" },
                "example": {
                  "id": "665f1c2e4b1a2c3d4e5f0001",
                  "username": "octocat",
                  "githubId": "583231",
                  "avatarUrl": "https://avatars.githubusercontent.com/u/583231?v=4",
                  "tokenRevoked": false,
                  "settings": { "reviewLanguage": "id", "tone": "friendly", "customInstructions": "Always add a code snippet for fixes." }
                }
              }
            }
          },
          "401": {
            "description": "Not logged in",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/auth/settings": {
      "patch": {
        "tags": ["Auth"],
        "summary": "Update user settings",
        "description": "tone and customInstructions here are global fallbacks used across all of the user's repos. They're overridden by a repo's dashboard config (/repositories/{owner}/{repo}/config), which is in turn overridden by that repo's .github/.codessa.yml.",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reviewLanguage": { "type": "string", "enum": ["en", "id", "zh"] },
                  "tone": { "type": "string", "enum": ["friendly", "strict", "concise"] },
                  "customInstructions": { "type": "string" }
                }
              },
              "example": { "reviewLanguage": "id", "tone": "friendly" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated settings",
            "content": {
              "application/json": { "example": { "settings": { "reviewLanguage": "id", "tone": "friendly" } } }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Not logged in",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "Log out (clears session cookie)",
        "responses": {
          "200": { "description": "Logged out", "content": { "application/json": { "example": { "ok": true } } } }
        }
      }
    },
    "/auth/languages": {
      "get": {
        "tags": ["Auth"],
        "summary": "List supported review languages (for populating a language dropdown)",
        "responses": {
          "200": {
            "description": "Supported languages",
            "content": {
              "application/json": {
                "example": [
                  { "code": "en", "label": "English" },
                  { "code": "id", "label": "Indonesian" },
                  { "code": "zh", "label": "Chinese" }
                ]
              }
            }
          }
        }
      }
    },
    "/github-app/install": {
      "get": {
        "tags": ["GitHub App"],
        "summary": "Start GitHub App installation",
        "description": "Redirects to GitHub's App installation page. After the user picks repos and installs, GitHub redirects to /github-app/callback.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "302": { "description": "Redirect to https://github.com/apps/<slug>/installations/new" },
          "401": {
            "description": "Not logged in",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/github-app/callback": {
      "get": {
        "tags": ["GitHub App"],
        "summary": "Installation callback (called by GitHub)",
        "parameters": [
          { "name": "installation_id", "in": "query", "schema": { "type": "string" } },
          { "name": "setup_action", "in": "query", "schema": { "type": "string" } },
          { "name": "state", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Installation linked to your account",
            "content": { "application/json": { "example": { "ok": true, "installationId": 54321 } } }
          },
          "400": {
            "description": "Invalid/expired state, or installation still pending approval",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/repositories": {
      "get": {
        "tags": ["Repositories"],
        "summary": "List repositories accessible via your GitHub App installations",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "perPage", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Case-insensitive substring match on full repo name" }
        ],
        "responses": {
          "200": {
            "description": "Paginated repository list",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "githubRepoId": "123456789",
                      "fullName": "octocat/hello-world",
                      "owner": "octocat",
                      "name": "hello-world",
                      "private": false,
                      "defaultBranch": "main",
                      "installationId": 54321,
                      "enabled": true,
                      "hasCustomConfig": false
                    }
                  ],
                  "page": 1,
                  "perPage": 20,
                  "total": 1,
                  "totalPages": 1
                }
              }
            }
          },
          "401": {
            "description": "Not logged in",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/repositories/{owner}/{repo}/enable": {
      "post": {
        "tags": ["Repositories"],
        "summary": "Enable auto-review for a repository",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" }, "example": "octocat" },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" }, "example": "hello-world" }
        ],
        "responses": {
          "200": { "description": "Enabled", "content": { "application/json": { "example": { "ok": true } } } },
          "404": {
            "description": "Repository not found or Codessa app not installed on it",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/repositories/{owner}/{repo}/disable": {
      "post": {
        "tags": ["Repositories"],
        "summary": "Disable auto-review for a repository",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" }, "example": "octocat" },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" }, "example": "hello-world" }
        ],
        "responses": {
          "200": { "description": "Disabled", "content": { "application/json": { "example": { "ok": true } } } }
        }
      }
    },
    "/repositories/{owner}/{repo}/config": {
      "get": {
        "tags": ["Repositories"],
        "summary": "Get dashboard review config for a repository",
        "description": "These are fallback settings used when a field isn't set in the repo's .github/.codessa.yml — the YAML file always wins per-field when present.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" }, "example": "octocat" },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" }, "example": "hello-world" }
        ],
        "responses": {
          "200": {
            "description": "Current dashboard config",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RepositoryConfig" } } }
          },
          "404": {
            "description": "Repository not enabled yet",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "patch": {
        "tags": ["Repositories"],
        "summary": "Update dashboard review config for a repository",
        "description": "Only the provided fields are updated. The repository must already be enabled (via /repositories/{owner}/{repo}/enable) before its config can be set.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" }, "example": "octocat" },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" }, "example": "hello-world" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RepositoryConfig" },
              "example": {
                "customInstructions": "Always suggest a code snippet for fixes.",
                "tone": "friendly",
                "severityThreshold": "balanced",
                "analysisFocus": { "security": true, "performance": true, "bugs": true, "codeStyle": false }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated config",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RepositoryConfig" } } }
          },
          "400": {
            "description": "Invalid config payload",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Repository not enabled yet",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "tags": ["Reviews"],
        "summary": "List review history for your repositories",
        "description": "Returns paginated review history across ALL repositories you own by default. Pass ?repo= to scope it to a single repository.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "repo", "in": "query", "schema": { "type": "string" }, "description": "Filter by full repo name, e.g. octocat/hello-world. Omit to get history across all your repos." },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "perPage", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "Paginated review list, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Review" } },
                    "page": { "type": "integer" },
                    "perPage": { "type": "integer" },
                    "total": { "type": "integer" },
                    "totalPages": { "type": "integer" }
                  }
                },
                "example": {
                  "data": [
                    {
                      "_id": "665f1c2e4b1a2c3d4e5f6789",
                      "repositoryId": "665f1c2e4b1a2c3d4e5f1234",
                      "repositoryFullName": "octocat/hello-world",
                      "repositoryName": "hello-world",
                      "pullNumber": 7,
                      "commitSha": "2c773ef9a1b2c3d4e5f60718293a4b5c6d7e8f90",
                      "shortSha": "2c773ef",
                      "commitMessage": "fix: handle null user in review flow",
                      "additions": 42,
                      "deletions": 8,
                      "status": "success",
                      "verdict": "passed",
                      "summary": "Found 1 potential bug and 2 minor style suggestions.",
                      "comments": [
                        { "filePath": "src/math.js", "line": 12, "severity": "major", "comment": "This changes addition to subtraction, likely a bug." }
                      ],
                      "createdAt": "2026-08-01T09:12:00.000Z",
                      "finishedAt": "2026-08-01T09:12:34.000Z"
                    }
                  ],
                  "page": 1,
                  "perPage": 20,
                  "total": 1,
                  "totalPages": 1
                }
              }
            }
          },
          "401": {
            "description": "Not logged in",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/reviews/stats": {
      "get": {
        "tags": ["Reviews"],
        "summary": "Aggregated AI review statistics for your repositories",
        "description": "Totals across reviews that were actually run by the AI (status success or failed). PR count is the number of review runs, so multiple commit pushes on the same PR count separately.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "repo", "in": "query", "schema": { "type": "string" }, "description": "Filter by full repo name, e.g. octocat/hello-world" }
        ],
        "responses": {
          "200": {
            "description": "Aggregated statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalPullRequests": { "type": "integer", "description": "Number of AI review runs (success + failed)" },
                    "totalComments": { "type": "integer", "description": "Total inline comments produced by the AI" },
                    "totalReviewTimeMs": { "type": "integer", "description": "Total review duration in milliseconds" },
                    "averageReviewTimeMs": { "type": "integer", "description": "Average review duration in milliseconds" }
                  }
                },
                "example": { "totalPullRequests": 42, "totalComments": 187, "totalReviewTimeMs": 512340, "averageReviewTimeMs": 12198 }
              }
            }
          },
          "401": {
            "description": "Not logged in",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/reviews/{id}": {
      "get": {
        "tags": ["Reviews"],
        "summary": "Get a single review",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "example": "665f1c2e4b1a2c3d4e5f6789" }
        ],
        "responses": {
          "200": {
            "description": "Review detail. 404 if it belongs to a repository you don't own, even if the id is valid.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Review" },
                "example": {
                  "_id": "665f1c2e4b1a2c3d4e5f6789",
                  "repositoryId": "665f1c2e4b1a2c3d4e5f1234",
                  "repositoryFullName": "octocat/hello-world",
                  "repositoryName": "hello-world",
                  "pullNumber": 7,
                  "commitSha": "2c773ef9a1b2c3d4e5f60718293a4b5c6d7e8f90",
                  "shortSha": "2c773ef",
                  "commitMessage": "fix: handle null user in review flow",
                  "additions": 42,
                  "deletions": 8,
                  "status": "success",
                  "verdict": "passed",
                  "summary": "Found 1 potential bug and 2 minor style suggestions.",
                  "comments": [
                    { "filePath": "src/math.js", "line": 12, "severity": "major", "comment": "This changes addition to subtraction, likely a bug." }
                  ],
                  "createdAt": "2026-08-01T09:12:00.000Z",
                  "finishedAt": "2026-08-01T09:12:34.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid id",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found, or not owned by you",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/test-reviews": {
      "post": {
        "tags": ["Test Reviews"],
        "summary": "Run an ad-hoc review against any PR URL",
        "description": "Runs the same DeepSeek + OSV.dev pipeline as a real review, using your own GitHub OAuth token to read the PR — works on any repo you can read, not just ones you've enabled. Never posts a comment or commit status to GitHub. Synchronous: the response only comes back once the review finishes (can take several seconds).",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prUrl"],
                "properties": {
                  "prUrl": { "type": "string", "example": "https://github.com/rocketride-org/rocketride-server/pull/2" },
                  "language": { "type": "string", "enum": ["en", "id", "zh"] },
                  "tone": { "type": "string", "enum": ["friendly", "strict", "concise"] },
                  "customInstructions": { "type": "string" },
                  "severityThreshold": { "type": "string", "enum": ["balanced", "critical_only", "strict"] },
                  "analysisFocus": {
                    "type": "object",
                    "properties": {
                      "security": { "type": "boolean" },
                      "performance": { "type": "boolean" },
                      "bugs": { "type": "boolean" },
                      "codeStyle": { "type": "boolean" }
                    }
                  }
                }
              },
              "example": { "prUrl": "https://github.com/rocketride-org/rocketride-server/pull/2", "tone": "strict" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test review result",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestReview" } } }
          },
          "400": {
            "description": "Invalid payload or malformed prUrl",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Not logged in, or no GitHub access token on file",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "502": {
            "description": "Failed to read the PR or run the review (e.g. PR not found, no access, DeepSeek/OSV error). Still returns a TestReview with status: \"failed\".",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestReview" } } }
          }
        }
      }
    },
    "/test-reviews/{id}": {
      "get": {
        "tags": ["Test Reviews"],
        "summary": "Get a previously run ad-hoc test review",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "example": "665f1c2e4b1a2c3d4e5f9999" }
        ],
        "responses": {
          "200": {
            "description": "Test review",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TestReview" } } }
          },
          "400": {
            "description": "Invalid id",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found, or not owned by you",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/webhooks/github": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "GitHub webhook receiver",
        "description": "Configured as the GitHub App's webhook URL. Verifies the `X-Hub-Signature-256` header using GITHUB_WEBHOOK_SECRET. Not meant to be called directly by clients.",
        "parameters": [
          { "name": "X-GitHub-Event", "in": "header", "required": true, "schema": { "type": "string" }, "example": "pull_request" },
          { "name": "X-Hub-Signature-256", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "action": "opened",
                "pull_request": { "number": 7, "head": { "sha": "2c773ef..." } },
                "repository": { "full_name": "octocat/hello-world" },
                "installation": { "id": 54321 }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Accepted, skipped, or processed", "content": { "application/json": { "example": { "accepted": true, "reviewId": "665f1c2e4b1a2c3d4e5f6789" } } } },
          "401": {
            "description": "Missing or invalid signature",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    }
  }
}
